<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="OutlookAddIn1.Properties.Settings.modelConnectionString"
   connectionString="Data Source=WIN-UNL27K6T5PR\SQL;Initial Catalog=model;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="OutlookAddIn1.Properties.Settings.OutlookAppDatabaseConnectionString"
   connectionString="Data Source=WIN-UNL27K6T5PR\SQL;Initial Catalog=OutlookAppDatabase;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="OutlookAddIn1.Properties.Settings.Database1ConnectionString"
   connectionString="Data Source=|DataDirectory|\Database1.sdf"
   providerName="Microsoft.SqlServerCe.Client.3.5" />
  <add name="OutlookAddIn1.Properties.Settings.OutlookContactsConnectionString"
   connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\OutlookContacts.mdf;Integrated Security=True;User Instance=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
